@import "./latte.css";

* {
  border: none;
  font-family: FontAwesome, "IosevkaTerm Nerd Font", monospace;
  font-size: 16px;
  color: #fff;
}

window#waybar {
  background: transparent;
}
/*-----modules indv----*/
#workspaces button {
  padding: 1px 5px;
  margin-right: 8px;
  color: @surface0;
  background-color: transparent;
  border-radius: 4px;
}

#workspaces button:hover {
  box-shadow: inherit;
  background-color: rgba(0,153,153,1);
}

#workspaces button.active {
  background-color: alpha(@mauve, 1.0);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor, 
#window,
#backlight,
#workspaces,
#custom-exit
{
  padding: 0px 8px;
}


/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #2dcc36;
}

#battery {
  color: #40a02b;
}


#battery.warning {
  color: #df8e1d;
}

#battery.critical {
  color: #d20f39;
}

#battery.charging, #battery.plugged, #battery.full {
  color: #40a02b;
}

#temperature.critical {
  color: #cc3436;
  background: rgba(0,0,0,0);
}

#custom-exit {
  color: @maroon;
}
